.background {
  background: linear-gradient(to bottom left, #572654, #2c3656);
}

svg text {
  text-transform: uppercase;
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #8453e3;
  font-size: 140px;
  font-weight: bold;
}

@keyframes stroke {
  0% {
    fill: rgba(72, 138, 20, 0);
    stroke: #8453e3;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(72, 138, 20, 0);
    stroke: #8453e3;
  }
  80% {
    fill: rgba(72, 138, 20, 0);
    stroke: #8453e3;
    stroke-width: 3;
  }
  100% {
    fill: #8453e3;
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}
